.button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 7.5px 0.5px rgba(31, 32, 34, 0.17);
  background-color: #ffd200;
  text-transform: uppercase;
  font-family: Avanti;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 4px 0px #b28a01;
  border: 0px;

  &_line-form {
    position: relative;
    min-height: 89px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    width: 100%;
    max-width: 293px;

    &::before {
      position: absolute;
      content: '';
      width: 114px;
      height: 105px;
      @include bg;
      background-image: url('/src/img/present-book.png');
      right: 0;
      top: -17px;

      @media (max-width: 575px) {
        transform: scale(0.85);
        right: -17px
      }
    }
  }

  &_line-form-center {
    width: 100%;
    max-width: 293px;
    justify-content: center;
    align-items: center;
    min-height: 89px;
    box-shadow: 0px 6px 0px #b28a01;
  }

  &_thanks {
    width: 290px;
  }

  &_modal-form {
    min-height: 111px;
    justify-content: center;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-shadow: 0px 6px 0px #b28a01;
    margin-bottom: 22px;
  }
}

.button__text {
  margin-bottom: 0;
  text-align: center;
}