.button {
  position: relative;
  display: flex;
  align-items: center;
  border: 0;
  background-color: #ffd200;
  border-radius: 10px;
  box-shadow: 0 0 7.5px 0.5px rgba(31, 32, 34, 0.17);
  box-shadow: 0 0 7.5px 0.5px rgba(31, 32, 34, 0.17), 0 4px 0 #b28a01;
  font-family: Avanti;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #e9bf02;
  }

  &:active {
    top: 4px;
    box-shadow: 0 0 7.5px 0.5px rgba(31, 32, 34, 0.17);
  }

  &_line-form {
    position: relative;
    width: 100%;
    max-width: 293px;
    min-height: 89px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;

    &::before {
      position: absolute;
      top: -17px;
      right: 0;
      width: 114px;
      height: 105px;
      background-image: url('/src/img/present-book.png');
      content: '';

      @include bg;

      @media (max-width: 575px) {
        right: -17px;
        transform: scale(0.85);
      }
    }
  }

  &_line-form-center {
    width: 100%;
    max-width: 293px;
    min-height: 89px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7.5px 0.5px rgba(31, 32, 34, 0.17), 0 6px 0 #b28a01;
  }

  &_thanks {
    width: 290px;
  }

  &_modal-form {
    width: 100%;
    min-height: 111px;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 22px;
    box-shadow: 0 0 7.5px 0.5px rgba(31, 32, 34, 0.17), 0 6px 0 #b28a01;
    font-size: 24px;
  }
}

.button__text {
  margin-bottom: 0;
  text-align: center;
}
