.cowork {
  min-height: 1044px;
  @include bg;
  background-image: url('/src/img/bgs/cowork-bg.jpg');
  padding-top: 55px;
  padding-bottom: 50px;

  @media (max-width: 575px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.cowork__title {
  font-family: Avanti;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 45px;
  width: 100%;
  max-width: 861px;
  line-height: 70px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  span {
    color: $red;
  }

  @media (max-width: 991px) {
    font-size: 48px;
  }

  @media (max-width: 767px) {
    font-size: 36px;
  }

  @media (max-width: 575px) {
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 30px;
  }
}

.cowork__content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
  }
}

.cowork__text-box {
  position: relative;
  width: 370px;
  left: 52px;

  @media (max-width: 1200px) {
    left: 0;
  }

  @media (max-width: 991px) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.cowork__text {
  line-height: 1.5;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 575px) {
    font-size: 18px;
  }
}