.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;

  @media (max-width: 575px) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.header__hamburger {
  position: relative;
  display: none;
  width: 20px;
  height: 15px;
  order: 2;
  padding: 0;
  border: 0;
  background-color: transparent;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 0 7px 0 0 black, 0 14px 0 0 black;
    content: '';
  }

  @media (max-width: 575px) {
    display: block;
  }
}

.header__text {
  order: 1;
  margin-bottom: 0;
  color: $red;
  font-size: 20px;

  @media (max-width: 767px) {
    font-size: 17px;
  }

  @media (max-width: 575px) {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
  }
}

.header__phone {
  order: 3;
  padding-top: 3px;
  padding-right: 9px;
  padding-bottom: 3px;
  padding-left: 9px;
  background-color: $red;
  border-radius: 10px;
  color: white;
  text-align: center;

  &:hover,
  &:focus {
    color: white;
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.header__list {
  position: relative;
  display: flex;
  min-height: 43px;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  background-color: white;
  list-style: none;

  @media (max-width: 575px) {
    overflow: hidden;
    height: 0;
    min-height: auto;
    transition: all 0.5s ease 0s;
  }
}

.menu-show {
  height: 156px;
}

.header__item {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  color: #747474;
  cursor: pointer;
  font-size: 15px;
  text-align: center;

  &:nth-child(3) {
    &:hover,
    &:focus {
      background-color: inherit;
      cursor: initial;
    }

    @media (max-width: 991px) {
      display: none;
    }
  }

  &:hover,
  &:focus {
    background-color: rgb(223, 223, 223);
  }

  @media (max-width: 991px) {
    width: 25%;
    font-size: 13px;
  }

  @media (max-width: 767px) {
    font-size: 12px;
  }

  @media (max-width: 575px) {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (max-width: 991px) {
    display: none;
  }
}
