.line-form {
  position: relative;
  padding-top: 33px;
  padding-right: 30px;
  padding-bottom: 9px;
  padding-left: 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 24.4px 4.6px rgba(31, 32, 34, 0.19);

  &_target {
    padding-top: 10px;

    &::before {
      position: absolute;
      top: -53px;
      left: -311px;
      content: url('/src/img/certificate.png');

      @media (max-width: 1700px) {
        content: none;
      }
    }
  }

  &_calc {
    background-color: #f2f2f2;
    box-shadow: none;

    input {
      background-color: white;
    }
  }

  @media (max-width: 991px) {
    width: 100%;
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 575px) {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.line-form__title {
  margin-bottom: 20px;
  font-family: Avanti;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

  &_padd {
    margin-bottom: 30px;

    @media (max-width: 575px) {
      margin-bottom: 20px;
    }
  }
}

.line-form__input-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;

  @media (max-width: 991px) {
    flex-direction: column;
  }
}

.line-form__input {
  width: 22%;
  min-height: 68px;
  padding-top: 24px;
  padding-right: 10px;
  padding-bottom: 24px;
  padding-left: 25px;
  border: 1px rgba(0, 0, 0, 0) solid;
  margin-right: 20px;
  background-color: #ededed;
  border-radius: 4px;
  color: black;
  font-size: 18px;

  @media (max-width: 991px) {
    width: 100%;
    max-width: 400px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    border: 1px solid #7e7e7e;
  }

  &::-webkit-input-placeholder {
    color: #7e7e7e;
  }

  &::-moz-placeholder {
    color: #7e7e7e;
  }

  &:-ms-input-placeholder {
    color: #7e7e7e;
  }

  &:-moz-placeholder {
    color: #7e7e7e;
  }
}

.line-form__policy-text {
  margin-bottom: 0;
  color: #b7b7b7;
  font-size: 15px;
  text-align: center;

  button {
    padding: 0;
    border: 0;
    background-color: transparent;
    color: #b7b7b7;
    text-decoration: underline;
  }

  @media (max-width: 575px) {
    font-size: 13px;
  }
}

.line-form__text {
  margin-bottom: 5px;
  text-align: center;
}
