.modal-form {
  border-radius: 4px;
  box-shadow: 0px 10px 9.2px 0.8px rgba(31, 32, 34, 0.08);
  background-color: white;
  padding-bottom: 28px;
  padding-top: 41px;
  padding-left: 45px;
  padding-right: 45px;
  width: 50%;
  max-width: 542px;

  @media (max-width: 991px) {
    width: 100%;
  }

  @media (max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.modal-form__title {
  margin-bottom: 25px;
  font-family: Avanti;
  font-weight: bold;
  text-align: center;
  width: 100%;
  max-width: 330px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #ededed;
  min-height: 80px;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 10px;
  color: black;
  border: 1px rgba(0, 0, 0, 0) solid;

  &:last-child {
    margin-bottom: 28px;
  }

  &:hover,
  &:focus {
    border: 1px solid #7e7e7e;
  }

  &::-webkit-input-placeholder {
    color: #7e7e7e;
  }

  &::-moz-placeholder {
    color: #7e7e7e;
  }

  &:-ms-input-placeholder {
    color: #7e7e7e;
  }

  &:-moz-placeholder {
    color: #7e7e7e;
  }
}

.modal-form__policy-text {
  font-size: 14px;
  text-align: center;
  color: #b7b7b7;
  margin-bottom: 0;

  button {
    background-color: transparent;
    border: 0px;
    padding: 0;
    text-decoration: underline;
    color: #b7b7b7;
  }

  @media (max-width: 575px) {
    font-size: 13px;
  }
}
