.slider-review {
  position: relative;
  width: 500px;

  @media (max-width: 991px) {
    margin-bottom: 30px;
  }

  @media (max-width: 575px) {
    width: 100%;
  }

  &__review-box {
    padding-top: 61px;
    padding-left: 89px;
    padding-right: 90px;
    width: 413px;
    height: 664px;
    margin-right: auto;
    margin-left: auto;
    @include bg;
    background-image: url('/src/img/iphone.png');
    font-size: 17px;
    line-height: 1.18;

    @media (max-width: 575px) {
      padding-left: 50px;
      padding-right: 50px;
      width: 290px;
      height: 591px;
      font-size: 15px;
    }
  }

  &__stars-list {
    margin-bottom: 15px;
    display: block;
  }

  &__name {
    font-weight: bold;
    margin-bottom: 0;
  }

  &__date {
    color: #706f6f;
    margin-bottom: 20px;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__img-box {
    display: flex;
    justify-content: space-between;
    touch-action: pan-y;
    transform: translate3d(-400%, 0, 0);
    user-select: none;
  }

  &__img-item {
    display: flex;
    width: 98%;
    flex-shrink: 0;
    margin: 0% 1%;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;

    img {
      max-width: 100%;
      max-height: 100%;
      pointer-events: none;
    }
  }

  &__nav-box {
    display: flex;
    justify-content: center;
  }

  &__nav-item {
    width: 12px;
    height: 12px;
    margin-right: 7px;
    background-color: #c4c4c4;
    border-radius: 50%;
    border: 0px;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background-color: #dc433d;
    }
  }

  &__btn-prev,
  &__btn-next {
    top: 40%;
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: transparent;
    border: 0px;
    padding: 0;
  }

  &__btn-prev {
    left: 0px;
    @include bg;
    background-image: url('/src/img/left-arrow.png');

    @media (max-width: 1200px) {
      left: 10px;
    }
  }

  &__btn-next {
    right: 0px;
    @include bg;
    background-image: url('/src/img/right-arrow.png');

    @media (max-width: 1200px) {
      right: 10px;
    }
  }
}
