.slider-brand {
  position: relative;
  width: 100%;
  max-width: 680px;
  margin-right: auto;
  margin-left: auto;

  &::before {
    position: absolute;
    right: -573px;
    bottom: -41px;
    content: url('/src/img/flag.png');

    @media (max-width: 1200px) {
      content: none;
    }
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  &__img-box {
    display: flex;
    justify-content: space-between;
    touch-action: pan-y;
    transform: translate3d(-400%, 0, 0);
    user-select: none;
  }

  &__img-item {
    display: flex;
    width: 98%;
    flex-direction: column;
    flex-shrink: 0;
    flex-shrink: 0;
    justify-content: space-between;
    margin: 0% 1%;

    img {
      max-width: 100%;
      max-height: 100%;
      pointer-events: none;
    }
  }

  &__nav-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__nav-item {
    width: 12px;
    height: 12px;
    border: 0;
    margin-right: 7px;
    background-color: #c4c4c4;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    &_active {
      background-color: #dc433d;
    }
  }

  &__btn-prev,
  &__btn-next {
    position: absolute;
    top: 50%;
    width: 42px;
    height: 42px;
    padding: 0;
    border: 0;
    background-color: transparent;
    transform: translateY(-50%);
  }

  &__btn-prev {
    left: -57px - 42px;
    background-image: url('/src/img/left-arrow.png');

    @include bg;

    @media (max-width: 991px) {
      left: -36px;
    }

    @media (max-width: 767px) {
      left: -13px;
    }

    @media (max-width: 575px) {
      left: 0;
    }
  }

  &__btn-next {
    right: -57px - 42px;
    background-image: url('/src/img/right-arrow.png');

    @include bg;

    @media (max-width: 991px) {
      right: -36px;
    }

    @media (max-width: 767px) {
      right: -13px;
    }

    @media (max-width: 575px) {
      right: 0;
    }
  }
}
